<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HouseDealMapper">
	
	<!-- 상세보기 -->
	<select id="show" resultType="com.ssafy.happyhouse.model.dto.HouseDeal">
		select no,dong,AptName,code,dealAmount,buildYear,dealYear,dealMonth,dealDay,area,floor,jibun
		from housedeal
		where no like #{no}
		order by no asc
	</select>
	
	<!-- 아파트 전체 개수  -->
	<select id="TotalCnt" resultType="int">
		select count(no) cnt
		 from housedeal
	</select>

	<!-- 아파트 검색 개수  -->
	<select id="AptTotalCnt" resultType="int">
		select count(*)
		from housedeal
		where AptName like #{word}
	</select>
	
	<!-- 동 검색 개수  -->
	<select id="DongTotalCnt" resultType="int">
		select count(*)
		from housedeal
		where dong like #{word}
	</select>
	
	<!-- 아파트 전체 조회 -->
	<select id="selectAllPage" resultType="com.ssafy.happyhouse.model.dto.HouseDeal">
		select no,dong,AptName,code,dealAmount,buildYear,dealYear,dealMonth,dealDay,area,floor,jibun
		from housedeal
		order by no asc
		Limit #{startNo}, 10
	</select>
	
	<!-- 아파트 이름 검색 -->
	<select id="selectAptpage" resultType="com.ssafy.happyhouse.model.dto.HouseDeal">
		select no,dong,AptName,code,dealAmount,buildYear,dealYear,dealMonth,dealDay,area,floor,jibun
		from housedeal
		where AptName like #{word}
		order by no asc
		Limit #{startNo}, 10
	</select>
	
	<!-- 동 이름 검색 -->
	<select id="selectDongPage" resultType="com.ssafy.happyhouse.model.dto.HouseDeal">
		select no,dong,AptName,code,dealAmount,buildYear,dealYear,dealMonth,dealDay,area,floor,jibun
		from housedeal
		where dong like #{word}
		order by no asc
		Limit #{startNo}, 10
	</select>
	
	<!-- 게시글 조회수 업데이트 -->
    <update id="hits">
   	   update ssafydb.housedeal
       set hit = #{hit}
       where no=#{no}
    </update>
	
</mapper>
