<!-- <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oticeMapper">

	<insert id="insert">
		insert into patient values(#{pno}, #{name}, #{age}, #{ccode})
	</insert>
	
	<select id="check" resultType="Integer">
		select count(*) from patient where pno = #{pno} 
	</select>
	
	<select id="select" resultType="com.ssafy.myapp.domain.PatientDto">
		select pno, name, age, cname
		from patient p, country c where p.ccode = c.ccode
	</select>
	
	<select id="detail" resultType="com.ssafy.myapp.domain.PatientDto">
		select pno, name, age, cname
		from patient p, country c where p.ccode = c.ccode and p.pno = #{pno} 
	</select>
	
	<delete id="delete">
		delete from patient where pno = #{pno}
	</delete>
</mapper> -->